@import "@/assets/scss/variables.scss";

@media #{$xs-up} {
  .profile {
    display: flex;
    justify-content: center;

    .container {

      h3 {
        margin-bottom: 20px;
      }
    }
  }
}

@media #{$m-up} {

}

@media #{$xl-up} {
  .profile {

    .container {
      width: 50%;
    }
  }
}
