// Global styles

@import "@/assets/scss/variables.scss";

@media #{$xs-up} {
  *, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }

  input {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 10px;
    outline: 0;
    border: 1px solid $light-gray;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 5px 0 rgba($dark, 0.3);
    }
  }

  textarea {
    resize: none;
    border: 1px solid $light-gray;
    outline: 0;
    height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .error {
    margin-top: 20px;
    padding: 15px;
    border-radius: 3px;
    background-color: palevioletred;
    color: $white;
  }
}

@media #{$m-up} {

}

@media #{$xl-up} {
  .container {
    width: 65%; // Contain the width so the content doesn't spread out to the edges.
  }
}
