@import "@/assets/scss/variables.scss";

@media #{$xs-up} {
  #authLayout {

    .authHeader {
      margin-bottom: 20px;
    }

    .authContent {
      margin-bottom: 20px;
    }

    .switchForm {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      a {
        text-decoration: none;
        color: $primary;
        cursor: pointer;
      }
    }
  }
}

@media #{$m-up} {

}

@media #{$xl-up} {

}
