@import "@/assets/scss/variables.scss";

@media #{$xs-up} {
  #authLayout {

    .authHeader {
      margin-bottom: 20px;
    }

    .authContent {
      margin-bottom: 20px;
    }

    .switchForm {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      a {
        text-decoration: none;
        color: $primary;
        cursor: pointer;
      }
    }

    .loadingMsg {
      background: $primary;
      color: $white;
      padding: 0.8rem 1rem;
      font-size: 16px;
      border-radius: 3px;
      text-align: center;
    }

    .errorMsg {
      margin-top: 20px;
      padding: 15px;
      border-radius: 3px;
      background-color: palevioletred;
      color: $white;
    }
  }
}

@media #{$m-up} {

}

@media #{$xl-up} {

}
